<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lamzier.dao.BookMapper">
    
    <insert id="addBook" parameterType="Books">
        insert into tbgdei..books (bookName, bookCounts, detail)
        values (#{bookID},#{bookCounts},#{detail});
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete from tbgdei.books where bookID = #{bookId};
    </delete>

    <update id="updateBook" parameterType="Books">
        update tbgdei.books
            set bookName = #{bookName} , bookCounts = #{bookCounts} , detail = #{detail}
        where bookID = #{bookID};
    </update>
    
    <select id="queryBookById" resultType="Books">
        select * from tbgdei.books where bookID = #{bookId};
    </select>

    <select id="queryAllBook" resultType="Books">
        select * from tbgdei.books;
    </select>

</mapper>